<footer class="text-muted">
 <div class="container">
    <!--<p class="float-right">
       <a href="#">Back to top</a>
       </p>-->
    <p data-step="8" data-intro="Por fim, você pode entrar em contato para tirar dúvidas. Bom proveito!">S⁴ &copy; 2017-2019&nbsp;<i class="fas fa-at"></i>&nbsp;<a href="mailto:wilian.ivo@softplan.com.br">Ivo</a>&nbsp;<i class="fas fa-home"></i>&nbsp;<a href="http://www.softplan.com.br/">Softplan</a>. </p>
 </div>
</footer>
{% if avaliacao %}
	<script type="text/javascript" src="{{ url_for('static', filename='introjs/intro.js') }}"></script>
{% endif %}
<script>
 $(function () {
   $('[data-toggle="tooltip"]').tooltip();
   introJs().start();
 })
</script>