<!DOCTYPE html>
<html lang="pt-br">
   {% include 'head.html' %}
   <body class="text-center">
      {% include 'header.html' %}
      <main role="main">
         <div class="jumbotron">
         	<br>
         <div class="container">
            <div class="card-deck mb-3 text-center">
               <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                     <h4 class="my-0 font-weight-normal"><i class="fab fa-searchengin"></i>&nbsp;Avaliar</h4>
                  </div>
                  <div align="center">
                  	 <br>
                        {% include 'messages.html' %}
         			  		<form action="/redirect">
         						Atendimento:<br>
         						<input type="text" name="salt" value="000000"><br>
         						Item:<br>
         						<input type="text" name="item" value="0"><br><br>
         						<button class="btn btn-lg btn-primary" type="submit" onclick="ShowSpinner('spinner')">
                      <i class="fas fa-robot"></i>
                    </button>
                    <br>
                    <br>
                     <div id="spinner" class="text-center" style="display: none">
                        <div class="spinner-border" role="status">
                         <span class="sr-only">Loading...</span>
                        </div>
                     </div>
         					</form> 
         					<br>
                  </div>
               </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h6>+ <span class="badge badge-secondary">35000</span> atendimentos</h6></li>
              <li class="list-group-item"><h6>Tempo médio <span class="badge badge-secondary">1~2</span> minutos</h6></li>
            </ul>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>
