<!DOCTYPE html>
<html lang="pt-br">
   {% include 'head.html' %}
   <body class="text-center">
      {% include 'header.html' %}
      <main role="main">
         <div class="jumbotron">
         	<br>
         <div class="container">
            {% include 'avaliacao.html' %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h6>+ <span class="badge badge-secondary">35000</span> atendimentos</h6></li>
              <li class="list-group-item"><h6>Tempo médio <span class="badge badge-secondary">1~2</span> minutos</h6></li>
              <li class="list-group-item"><h6>Total de <span class="badge badge-secondary">{{ avaliados }}</span> atendimentos avaliados</h6></li>
              <li class="list-group-item"><h6>Sugerido <span class="badge badge-secondary">{{ sugeridos }}</span> atendimentos</h6></li>
            </ul>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>
