<!-- <!DOCTYPE html>
<html>
<head>
   <meta http-equiv="refresh" content="0; url={{ url }}">
</head>
<body>
   <p>The page has moved to:
   <a href="{{ url }}">this page</a></p>
</body>
</html> -->
<!DOCTYPE html>
<html lang="pt-br">
   {% include 'head.html' %}
   <body class="text-center">
      {% include 'header.html' %}
      <main role="main">
         <div class="jumbotron">
			<div class="card">
			  <div class="card-header">
			  	<div align="left">
			    	<i class="fas fa-search"></i> {{ search }}<small>&nbsp;<i>Limite {{ limit }} itens.</i></small>
				</div>
			  </div>
			    <div class="card-body">
				  <ul class="list-group list-group-flush">
			          {% if cards %}
			             {% for card in cards %}
			                <li class="list-group-item">
			                	<div align="left">
			                	
									<div class="container-fluid">
									  <div class="row">
									    <div class="col-2">
									    	<a class="navbar-brand" href="{{ host }}salt/{{ card['atendimento'] }}/{{ card['item'] }}" onclick="ShowSpinner('spinner{{ card['label'] }}')">
					                			{{ card['label'] }}
					                			<i class="fab fa-searchengin"></i>
					                		</a>
										</div>
									    <div class="mr-auto">
									    	<span class="align-middle">
									    	<div id="spinner{{ card['label'] }}" class="text-left" style="display: none">
						                        <div class="spinner-border spinner-border-sm" role="status">
						                         <span class="sr-only align-middle">Loading...</span>
						                        </div>
						                    </div>
						                    </span>
									    </div>

									    <!-- Force next columns to break to new line -->
									    <!-- <div class="w-100"></div> -->

									  </div>
									</div>
									<small>{{ card['original'] | safe }}</small>
								</div>
			                </li>
			             {% endfor %}
			          {% endif %}
				  </ul>
  				</div>
			</div>
			<br>
			<div class="card">
			  <div class="card-header">
			  	<div align="left">
			    	<i class="fas fa-search"></i><small>&nbsp;Últimas buscas realizadas:</small>
				</div>
			  </div>
			    <div class="card-body">
				  <ul class="list-group list-group-flush">
	                <li class="list-group-item">
	                	<div align="left">
			          {% if buscas %}
			             {% for busca in buscas %}
							<small><kbd>{{ busca | safe }}</kbd></small>
			             {% endfor %}
			          {% endif %}
			          	</div>
	   	            </li>
				  </ul>
  				</div>
			</div>
         </div>
      </main>
      {% include 'footer.html' %}
   </body>
</html>
