<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S4</title>
</head>
<body>
    SALT: <b>{{ salt }}</b>
    <br>
    <br>
    <b>Parecidas:</b><br>
    <table border = 1>
        {% for relacionado in relacionados %}
        <tr>
            <td>
                <a href="{{ url_for('dislike', salt=salt, item=item, algoritmo=relacionado[0], relacionado=relacionado[1], relacionadoitem=relacionado[2])}}">
                    <img src="{{url_for('static', filename='dislike.jpg')}}" alt="Errado" height="16" width="16"/>
                </a>
            </td>
            <td>
                <a href="{{ url_for('like', salt=salt, item=item, algoritmo=relacionado[0], relacionado=relacionado[1], relacionadoitem=relacionado[2])}}">
                    <img src="{{url_for('static', filename='like.jpg')}}" alt="Ajudou" height="16" width="16"/>
                </a>
            </td>
            <td> {{ relacionado[1] }} / {{ relacionado[2] }} </td>
            <td> {{ relacionado[3] }} </td>
            <td><i> {{ relacionado[0] }} </i></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <b>Severidade:</b>
    <table border = 1>
        <tr>
            <td>Severidade</td>
            <td>Quantidade</td>
        </tr>
        {% for key, value in severidades %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <b>Tempo m&eacute;dio:</b>
    <br>
    <table border = 1>
        <tr>
            <td>Horas</td>
            <td>Quantidade</td>
        </tr>
        {% for key, value in tempos %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
    <br><b>Pessoas:</b>
    <br>
    <table border = 1>
        {% for key, value in pessoas %}
        <tr>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>