<!DOCTYPE html>
<html lang="pt-br">
   {% include 'head.html' %}
   <body class="text-center">
      {% include 'header.html' %}
      <main role="main">
         <div class="jumbotron">
         <div class="container">
            <div class="card-deck mb-3 text-center"  data-step="3" data-intro="Esse é a descrição do seu atendimento.">
               <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                     <h4 class="my-0 font-weight-normal"><i class="fas fa-newspaper"></i>&nbsp;Atendimento {{ salt }}/{{ item }}</h4>
                  </div>
                  <div align="left">
                     <div id="overflowTest">
                        <p class="card-text mb-auto">
                        <pre>{{ texto }}</pre>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <hr>
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-step="4" data-intro="Aqui ficam as sugestões feitas pelos algoritmos de inteligência artificial e aprendizado de máquina. <br> Você pode verificar o encerramento dos atendimentos e curti-lo para uma futura consulta.">
            <ol class="carousel-indicators">
               {% for relacionado in relacionados %}
                  {% if loop.index0 == 0 %}
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  {% else %}
                  <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"></li>
                  {% endif %}
               {% endfor %}
            </ol>
            <div class="carousel-inner">
               {% for relacionado in relacionados %}
               {% if loop.index0 == 0 %}
               <div class="carousel-item active">
                  {% else %}
                  <div class="carousel-item ">
                     {% endif %}
                     <div class="container">
                        <div class="card-deck mb-3 text-center">
                           <div class="card mb-4 shadow-sm">
                              <div class="card-header">
                                 <h4 class="my-0 font-weight-normal"><i class="fas fa-robot"></i></i>&nbsp;Sugestão {{ relacionado[1] }}/{{ relacionado[2] }}</h4>
                              </div>
                              <div class="card-body">
                                 <div align="left">
                                    <div id="overflowTest">
                                       <p class="card-text mb-auto">
                                       <pre>{{ relacionado[6] }}</pre>
                                       </p>
                                    </div>
                                    <!--<a href="#" class="stretched-link">Continue reading</a>-->
                                    <div class="collapse" id="collapseExample">
                                       <hr>
                                       <div id="overflowTest">
                                          <div class="mb-1 text-muted">
                                             <pre>{{ relacionado[7] }}</pre>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="d-flex justify-content-between align-items-center">
                                 <div class="btn-group">
                                    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                     <i class="fas fa-eye"></i>&nbsp;Encerramento
                                    </button>
                                    {% if relacionado[8] == True %}
                                       &nbsp;
                                       <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Marcado como uma ótima avaliação/ajuda">
                                       <i class="fas fa-star fa-2x" id="starA{{ relacionado[1] }}{{ relacionado[2] }}"></i>
                                       </span>
                                    {% else %}
                                       <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Marcar como uma ótima avaliação/ajuda">
                                          <button id="curtir{{ relacionado[1] }}{{ relacionado[2] }}" type="button" class="btn btn-sm btn-outline-secondary"
                                                onclick="javascript:curtir('#curtir{{ relacionado[1] }}{{ relacionado[2] }}','#star{{ relacionado[1] }}{{ relacionado[2] }}',
                                                '{{ salt }}', '{{ item }}', '{{ relacionado[0] }}',
                                                '{{ relacionado[1] }}','{{ relacionado[2] }}');">
                                             <i class="fas fa-thumbs-up"></i>
                                             <!-- <a href="{{ url_for('like', salt=salt, item=item, algoritmo=relacionado[0], relacionado=relacionado[1], relacionadoitem=relacionado[2])}}">
                                                <img src="{{url_for('static', filename='like.jpg')}}" alt="Ajudou" height="24" width="24"/>
                                                </a> -->
                                          </button>
                                       </span>
                                       <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Marcado como uma ótima avaliação/ajuda">
                                       <i class="fas fa-star fa-2x" id="star{{ relacionado[1] }}{{ relacionado[2] }}"  style="display: none"></i>
                                       </span>
                                    {% endif %}
                                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit
                                       <a href="{{ url_for('dislike', salt=salt, item=item, algoritmo=relacionado[0], relacionado=relacionado[1], relacionadoitem=relacionado[2])}}">
                                       <img src="{{url_for('static', filename='dislike.jpg')}}" alt="Errado" height="24" width="24"/>
                                       </a>
                                       </button> -->
                                 </div>
                                 <!-- <small class="text-muted">{{ relacionado[3] }} {{ relacionado[0] }} 
                                 <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="score e algoritmo utilizado para a avaliação">
                                 <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>
                                    <i class="fas fa-question"></i>
                                 </button>
                                 </span>
                                 </small> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                  </a>
               </div>
            </div>
            <hr>
            <div class="container">
               <div class="card-deck mb-3 text-center">
                  <div class="card mb-4 shadow-sm" data-step="5" data-intro="Aqui está um resumo da severidade dos atendimentos sugeridos.">
                     <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><i class="fas fa-exclamation-triangle"></i>&nbsp;Severidade</h4>
                     </div>
                     <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                           {% for key, value in severidades %}
                           <li>{{ key }} aparece em <span class="badge badge-light">{{ value }}</span> atendimento(s).</li>
                           {% endfor %}
                        </ul>
                        <!--<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
                     </div>
                  </div>
                  <div class="card mb-4 shadow-sm" data-step="6" data-intro="Aqui está um resumo de pessoas dos atendimentos sugeridos com quem você pode entrar em contato para esclarecer dúvidas. ">
                     <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><i class="fas fa-user-clock"></i>&nbsp;Pessoas</h4>
                     </div>
                     <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                           {% for key, value in pessoas %}
                           <li>{{ value }}</li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
                  <div class="card mb-4 shadow-sm" data-step="7" data-intro="Aqui um breve resumo do tempo que foi utilizado nos atendimentos sugeridos.">
                     <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><i class="fas fa-business-time"></i>&nbsp;Tempo m&eacute;dio</h4>
                     </div>
                     <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                           {% for key, value in tempos %}
                           <li><span class="badge badge-light">{{ value }}</span> levou/levaram {{ key }} hora(s).</li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
          <script>
              function curtir(element, star, _atendimento, _item, _algoritmo, _relacionado, _relacionadoitem) {
                  $(element).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
                  // alert($(sourceElem).text());
                  $.post('/curtir', {
                      // text: $(sourceElem).text()
                      salt: _atendimento,
                      item: _item,
                      algoritmo: _algoritmo,
                      relacionado: _relacionado,
                      relacionadoitem: _relacionadoitem
                  }).done(function(response) {
                      // $(element).text(response);
                      // $(element).html('<i class="fas fa-star"></i>');
                      $(element).hide();
                      $(star).show();
                  }).fail(function() {
                      $(element).text("Erro");
                  });
              }
          </script>
      </main>
      {% include 'footer.html' %}
      
   </body>
</html>
