<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S4-{{ salt }}/{{ item }}</title>
</head>
<body>
    <div align="center">
    Atendimento: <b>{{ salt }}/{{ item }}</b>
    <br>
    <textarea rows="10" cols="100">{{ texto }}</textarea>
    <br>
    <br>
    <b>Parecidas:</b><br>
    <table border = 0>
        {% for relacionado in relacionados %}
        <tr>
            <td> {{ relacionado[1] }} / {{ relacionado[2] }} </td>
            <td><textarea rows="10" cols="100">{{ relacionado[6] }}</textarea></td>
            <td><textarea rows="10" cols="50">{{ relacionado[7] }}</textarea></td>
            <td>
                <a href="{{ url_for('like', salt=salt, item=item, algoritmo=relacionado[0], relacionado=relacionado[1], relacionadoitem=relacionado[2])}}">
                    <img src="{{url_for('static', filename='like.jpg')}}" alt="Ajudou" height="24" width="24"/>
                </a>
            <br>
            <br>
                <a href="{{ url_for('dislike', salt=salt, item=item, algoritmo=relacionado[0], relacionado=relacionado[1], relacionadoitem=relacionado[2])}}">
                    <img src="{{url_for('static', filename='dislike.jpg')}}" alt="Errado" height="24" width="24"/>
                </a>
            </td>
            <td> {{ relacionado[3] }} </td>
            <td><i> {{ relacionado[0] }} </i></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <b>Severidade:</b>
    <table border = 0>
        <tr>
            <td>Severidade</td>
            <td>Quantidade</td>
        </tr>
        {% for key, value in severidades %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <b>Tempo m&eacute;dio:</b>
    <br>
    <table border = 0>
        <tr>
            <td>Horas</td>
            <td>Quantidade</td>
        </tr>
        {% for key, value in tempos %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
    <br><b>Pessoas:</b>
    <br>
    <table border = 0>
        {% for key, value in pessoas %}
        <tr>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>